.splash {

  height: 100vh;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  z-index: 5;
  position: relative;

  .overlay {
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(226, 226, 226, 0.5);
  }

  #video-background {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
  }

  .logo {
    position: relative;
    display: block;
    z-index: 1;

    img {
    width: 50%;
    position: relative;
    margin: auto;
    display: block;
    }

  }


}
