* {
  -webkit-font-smoothing:antialiased;
  font-smoothing:antialiased;
  text-rendering:optimizeLegibility;
  outline: none !important;
  @include vendor(box-sizing, border-box);
}
html {
  font-size:62.5%;
}
body {
  font:300 13px/1.6 'Roboto', Helvetica, Arial;
  background:#fff;
  color:#444;
}
