::selection{
  background:none;
  color: inherit;
  text-shadow:none;
}
::-moz-selection{
  background:none;
  color: inherit;
  text-shadow:none;
}
::-webkit-selection{
  background:none;
  color: inherit;
  text-shadow:none;
}
