$susy: (
  columns: 12,
  gutters: 1/4,
  container: 800px,
  global-box-sizing: border-box,
);


html, body {
  font-family: 'Roboto', 'Helvetica', sans-serif;
  margin: 0;
  padding: 0;


}

.page-content {
  margin: auto;
  display: block;
  max-width: 80%;
}

section {
  padding-top: 5%;
}

section:first-child {
  padding-top: 0
}


.show-me {
  opacity: 1;
}

.mdl-layout__content {
      background-color: white;
}
